{{!-- <ul>
  <li><a href="/search"> Suche ein Buch </a></li>
  <li><a href="/userlibrary"> Mein Regal </a></li>
</ul> --}}

<div id="searchdiv">
  <h3>Suche nach einem Titel </h3>

  <form action="/search" method="get">
    {{!-- Suche nach Titel: --}} <input type="text" name="search" id="searchinput">
    {{!-- Suche nach Autor / Zeichner:  <input type="text" name="searchauthor"> <br>
Suche nach ISBN:   <input type="text" name="searchisbn"> --}}

    <button type="submit" class="button1">Suche</button> <br>
    <div class="small"> (Es werden maximal 40 Ergebnisse angezeigt)</div>
  </form>
</div>



{{#each data}}

<div id="book-container">
  <div>
    <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="" srcset="">
  </div>

  <div>
    <h4>{{this.volumeInfo.title}} </h4><br>
    Zeichner / Autor: {{#each this.volumeInfo.authors}} {{this}} {{/each}} <br>
    Categories: {{#each this.volumeInfo.categories}} {{this}} {{/each}} <br>
    ISBN: {{#each this.volumeInfo.industryIdentifiers}} {{this.type}} {{/each}} <br>


    <form action="/search" method="post">
      <input hidden type="text" name="imageLink" value="{{this.volumeInfo.imageLinks.thumbnail}}">
      <input hidden type="text" name="title" value="{{this.volumeInfo.title}}">
      <input hidden type="text" name="authors" value="{{this.volumeInfo.authors}}">
      <input hidden type="text" name="publisher" value="{{this.volumeInfo.publisher}}">
      <input hidden type="text" name="publisherDate" value="{{this.volumeInfo.publisherDate}}">
      {{!--     <input hidden type="text" name="categories" value="{{this.volumeInfo.categories}}"> --}}
      <input hidden type="text" name="categories" value="{{this.volumeInfo.categories}}">
      <input hidden type="text" name="ISBN" value="{{this.volumeInfo.industryIdentifiers.type}}">
      <input hidden type="text" name="pageCount" value="{{this.volumeInfo.pageCount}}">
      <input hidden type="text" name="retailPrice"
        value="{{this.saleInfo.retailPrice.amount}}{{this.saleInfo.retailPrice.currency}}">
      <input hidden type="text" name="description" value="{{this.volumeInfo.description}}">
      {{!--  <p name="title">{{this.volumeInfo.title}}</p> --}}
      <br><br>
      <button type="submit" class="button2">In mein Regal</button>

    </form>
  </div>

</div>

{{/each}}